/* =============
    About Content
============= */
#about-container {
    @include md {
        display: grid;
        grid-template-columns: 10% auto;
        grid-template-areas: ". container";
    }

    // @include xl {
    //     grid-template-columns: auto 1200px auto;
    //     grid-template-areas: ". container .";
    // }

    #banner-container {
        grid-area: container;

        #section-title {
            color: $h1-brown;
            font-size: rem-calc(25);
            text-align: center;
            padding-bottom: 20px;

            @include md {
                font-size: rem-calc(30);
                text-align: left;
                padding-bottom: 5px;
            }

            @include lg {
                font-size: rem-calc(50);
            }
        }

        #slash {
            img {
                width: 65px;
                display: block;
                margin-right: auto;
                margin-left: auto;
                padding-bottom: 20px;
                padding-top: 10px;

                @include md {
                    width: 80px;
                    margin-left: 110px;
                }

                @include lg {
                    width: 135px;
                    margin-left: 150px;
                }
            }
        }

        #quote {
            #text {
                @include md {
                    margin-top: -70px;
                    margin-left: 220px;
                }

                @include lg {
                    margin-top: -100px;
                    margin-left: 350px;
                }

                h2 {
                    font-size: rem-calc(30);
                    color: $quote-teal;
                    text-align: center;

                    @include md {
                        font-size: rem-calc(50);
                        text-align: left;
                    }

                    @include lg {
                        font-size: rem-calc(60);
                    }
                }
            }

            #box {
                background-color: $card-pink;
                // margin-right: -100px;
                // padding: 40px 40px;
                overflow: hidden;

                @include md {
                    padding: 150px;
                    margin-left: 400px;
                    margin-top: -200px;
                }

                @include lg {
                    padding: 150px;
                    margin-left: 500px;
                    margin-top: -200px;
                }
            }
        }
    }
}

#introductions-container {
    @include md {
        display: grid;
        grid-template-columns: 10% auto;
        grid-template-areas: ". container";
    }

    #introductions {
        @include md {
            grid-area: container;
        }

        #paragraphs {
            @include md {
                margin-left: 40px;
                display: grid;
                grid-template-columns: repeat(2, 320px);
                grid-template-areas: "p1 p2";
                gap: 40px;
            }

            @include lg {
                margin-left: 350px;
            }

            p {
                font-family: 'Roboto Mono', monospace;
                font-size: rem-calc(16);
                color: $dark-brown;
            }

            #para-1 {
                @include md {
                    grid-area: p1;
                }
            }

            #para-2 {
                @include md {
                    grid-area: p2;
                }
            }
        }

        #box-2 {
            overflow: hidden;
            background-color: $card-pink;
            z-index: -100;

            @include md {
                padding: 100px;
                margin-left: -240px;
                margin-right: 100px;
                margin-top: -150px;
            }

            @include lg {
                padding: 150px;
                margin-left: -200px;
                // margin-top: -150px;
                margin-right: 0;
            }
        }

        #visit-button {
            // width: 100%;
            // display: block;
            padding-top: 20px;
            // margin-right: auto;
            // margin-left: auto;

            .button {
                overflow: hidden;
                display: block;
                margin-right: auto;
                margin-left: auto;
                background: none;
                border: 1px $button-brown solid;
                border-radius: 30px;
                color: $button-brown;
                cursor: pointer;
                font-family: 'Roboto Mono', monospace;
                // height: 100%;
                padding: 20px 20px;

                @include md {
                    margin-top: -100px;
                    // margin-left: 200px;
                }

                @include lg {
                    margin-top: -180px;
                }

                &:hover {
                    background-color: $button-brown;
                    color: $white;
                }
            }
        }
    }

}

#slider {
    >div {
        .my-slider {
            div {
                height: 400px;

                @include md {
                    height: 800px;
                }

                img {
                    object-fit: cover;
                    object-position: center;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .tns-controls [aria-controls] {
            font-family: 'Roboto Mono', monospace;
            margin: 0 5px;
            padding: 0 1em;
            height: 2.5em;
            color: $button-brown;
            border: 1px $button-brown solid;
            background: none;
            border-radius: 26px;

            &:hover {
                background-color: $button-brown;
                color: $white;
            }
        }

        // .tns-nav > [aria-controls] {
        //     width: 9px;
        //     height: 9px;
        //     padding: 0;
        //     margin: 0 5px;
        //     border-radius: 50%;
        //     background: #ddd;
        //     border: 0;
        // }

        .tns-nav > .tns-nav-active {
            background: $card-pink;
        }
    }
}

#about-location {
    padding-bottom: 50px;
    >div {
        h1 {
            text-align: center;
            color: $quote-teal;
            font-size: rem-calc(30);
            padding-bottom: 20px;

            @include md {
                font-size: rem-calc(40);
            }

            @include lg {
                font-size: rem-calc(60);
            }
        }

        #map {
            width: 100%;
            height: 400px;
            background-color: $card-pink;
        }
    }
}