/* =============
    Index Content
============= */
#hindsight {
    margin-top: 70px;

    @include md {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 10% auto;
        grid-template-areas: ". container";
    }

    @include lg {
        margin-top: 100px;
    }

    #banner-container {
        @include md {
            grid-area: container;
        }

        #top-info {
            #title {
                color: $h1-brown;
                font-size: rem-calc(25);
                text-align: center;
                padding-bottom: 20px;

                @include md {
                    font-size: rem-calc(30);
                    text-align: left;
                    padding-bottom: 5px;
                }

                @include lg {
                    font-size: rem-calc(50);
                }
            }

            #slash {
                img {
                    width: 65px;
                    display: block;
                    margin-right: auto;
                    margin-left: auto;

                    @include md {
                        width: 80px;
                        margin-left: 200px;
                    }

                    @include lg {
                        width: 135px;
                        margin-left: 350px;
                    }
                }
            }
        }

        #quote {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 2px;
            padding-bottom: 20px;

            @include md {
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(7, 1fr);
                column-gap: 10px;
            }

            @include lg {
                grid-template-rows: repeat(6, 1fr);
                gap: 20px;
            }

            #planet {
                grid-column: 1 / span 2;
                grid-row: 1 / span 2;
                margin-top: 30px;

                @include md {
                    grid-column: 2 / span 4;
                    grid-row: 1 / span 4;
                }

                @include lg {
                    grid-column: 1 / span 4;
                    grid-row: 1 / span 3;
                }

                img {
                    height: 100px;

                    @include md {
                        height: 200px;
                    }

                    @include lg {
                        height: 240px;
                    }
                }
            }

            #mark {
                grid-column: 5 / span 1;
                grid-row: 4 / span 1;

                @include md {
                    grid-column: 8 / span 2;
                    grid-row: 6 / span 2;
                }

                @include lg {
                    grid-column: 7 / span 2;
                    grid-row: 5 / span 2;
                }

                img {
                    height: 60px;

                    @include md {
                        height: 100px;
                    }

                    @include lg {
                        height: 150px;
                    }
                }
            }

            #text {
                color: $quote-teal;
                grid-column: 2 / span 5;
                grid-row: 2 / span 3;
                margin-left: -10px;
                z-index: 50;

                @include md {
                    grid-column: 3 / span 7;
                    grid-row: 3 / span 4;

                    h2 {
                        font-size: rem-calc(30);
                    }
                }

                @include lg {
                    grid-column: 3 / span 7;
                    grid-row: 2 / span 4;

                    h2 {
                        font-size: rem-calc(50);
                    }
                }
            }

            #box {
                background-color: $card-pink;
                grid-column: 1 / span 3;
                grid-row: 2 / span 2;
                margin-left: -300px;
                overflow: hidden;
                z-index: -10;

                @include md {
                    grid-column: 1 / span 5;
                    grid-row: 4 / span 4;
                }

                @include lg {
                    grid-column: 1 / span 8;
                    grid-row: 4 / span 2;
                }
            }
        }

        #scroll {
            display: flex;
            justify-content: center;
            padding-top: 20px;

            @include lg {
                padding-top: 0;
            }

            p,
            a {
                margin: 0 10px;
            }

            p {
                font-family: 'Roboto Mono', monospace;
                font-size: rem-calc(16);
                color: $quotation-brown;
                align-self: center;
            }
        }
    }
}

#gallery {
    @include md {
        display: grid;
        grid-template-columns: 5% auto 5%;
        grid-template-areas: ". content .";
    }

    // @include lg {
    //     grid-template-columns: 10px auto 10px;
    // }

    #gallery-images {

        display: grid;
        grid-template-rows: repeat(6, 350px);
        gap: 20px;

        @include md {
            grid-area: content;
            display: grid;
            grid-template-columns: repeat(10, 53px);
            grid-template-rows: repeat(14, 73px);
        }

        @include lg {
            // grid-template-columns: repeat(12, 65px);
            // grid-template-rows: repeat(10, 160px);
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(10, 1fr);
        }


        // #pink-box {
        //     display: none;

        //     @include md {
        //         background-color: $card-pink;
        //         display: grid;
        //         margin-left: -50px;
        //         grid-column: 1 / span 7;
        //         grid-row: 4 / span 10;
        //         z-index: -10;
        //     }

        //     @include lg {
        //         grid-column: 5 / span 8;
        //         grid-row: 2 / span 7;
        //         margin-right: -100px;
        //         margin-left: 0;
        //     }
        // }

        #gallery-1 {
            @include md {
                grid-column: 2 / span 4;
                grid-row: 1 / span 5;
            }

            @include lg {
                grid-column: 7 / span 4;
                grid-row: 1 / span 3;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        #gallery-2 {
            @include md {
                grid-column: 6 / span 5;
                grid-row: 3 / span 3;
            }

            @include lg {
                grid-column: 4 / span 3;
                grid-row: 7 / span 1;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        #gallery-3 {
            @include md {
                grid-column: 6 / span 4;
                grid-row: 6 / span 3;
            }

            @include lg {
                grid-column: 3 / span 8;
                grid-row: 8 / span 3;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        #gallery-4 {
            @include md {
                grid-column: 1 / span 5;
                grid-row: 6 / span 4;
            }

            @include lg {
                grid-column: 1 / span 6;
                grid-row: 4 / span 3;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        #gallery-5 {
            @include md {
                grid-column: 2 / span 4;
                grid-row: 10 / span 5;
            }

            @include lg {
                grid-column: 7 / span 6;
                grid-row: 4 / span 4;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        #gallery-6 {
            @include md {
                grid-column: 6 / span 5;
                grid-row: 9 / span 4;
            }

            @include lg {
                grid-column: 2 / span 5;
                grid-row: 2 / span 2;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}

#thoughts-button {
    .button {
        // overflow: hidden;
        display: block;
        margin-right: auto;
        margin-left: auto;
        background: none;
        border: 1px $button-brown solid;
        border-radius: 30px;
        color: $button-brown;
        cursor: pointer;
        font-family: 'Roboto Mono', monospace;
        // height: 100%;
        padding: 20px 20px;
        margin-top: 20px;

        @include md {
            margin-top: 50px;
        }

        @include lg {
            margin-top: 30px;
        }

        &:hover {
            background-color: $button-brown;
            color: $white;
        }
    }
}

#ending-quote {
    padding-bottom: 40px; 

    @include md {
        margin-top: -50px;
    }

    @include md {
        margin-top: -70px;
    }

    #ending-container {
        #slash {
            padding-bottom: 30px;
            img {
                width: 65px;
                display: block;
                margin-right: auto;
                margin-left: auto;
                padding-top: 30px;

                @include md {
                    display: none;
                }
            }
        }

        #end-quote {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);

            @include md {
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(7, 1fr);
                column-gap: 10px;
            }

            @include md {
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(5, 1fr);
                column-gap: 10px;
            }

            #end-text {
                grid-column: 1 / span 4;
                grid-row: 1 / span 3;

                @include md {
                    grid-column: 3 / span 7;
                    grid-row: 2 / span 4;
                }

                h2 {
                    color: $quote-teal;
                    font-size: rem-calc(25);
                    text-align: left;

                    @include md {
                        font-size: rem-calc(40);
                    }

                    @include lg {
                        font-size: rem-calc(50);
                    }
                }
            }

            #end-mark {
                grid-column: 4 / span 1;
                grid-row: 2 / span 2;

                @include md {
                    grid-column: 8 / span 2;
                    grid-row: 4 / span 2;
                }

                @include md {
                    grid-column: 8 / span 2;
                    grid-row: 3 / span 2;
                }

                img {
                    height: 80px;

                    @include md {
                        height: 100px;
                    }

                    @include lg {
                        height: 200px;
                    }
                }
            }
        }
    }
}