/* =============
    Index Content
============= */
#index-encounters {
    #title {
        color: $h1-brown;
        font-size: rem-calc(25);
        text-align: center;
        padding-bottom: 20px;
    }

    #slash {
        img {
            width: 65px;
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    }

    #quote {
        display: grid;
        // grid-template-columns: repeat(6,1fr);
        // grid-template-areas: "mark mark text text text text text";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 2px;

        #mark {
            display: list-item;
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
            margin-top: 30px;

            img {
                height: 73px;
            }
        }

        #text {
            color: $quote-teal;
            grid-column: 2 / span 5;
            grid-row: 2 / span 3;
            margin-left: -10px;
            z-index: 50;
        }

        #box {
            background-color: $card-pink;
            grid-column: 4 / span 3;
            grid-row: 2 / span 3;
            margin-right: -5px;
        }
    }

    #scroll {
        display: flex;
        justify-content: center;
        padding-top: 20px;

        p,
        a {
            margin: 0 10px;
        }

        p {
            font-family: 'Roboto Mono', monospace;
            font-size: rem-calc(16);
            color: $quotation-brown;
            align-self: center;
        }
    }

    #card1 {
        display: grid;
        grid-template-columns: repeat(10, 27px);
        grid-template-rows: repeat(9, 25px);
        // grid-template-columns: repeat(10, 1fr);
        // grid-template-rows: repeat(9, 1fr);

        #card1-info {
            grid-column: 1 / span 5;
            grid-row: 1 / span 2;
            z-index: 100;

            display: grid;
            grid-template-columns: repeat(2, 77px);
            // grid-template-columns: repeat(2, 1fr);
            column-gap: 5px;
            grid-template-areas: "icon name";

            #card1-icon {
                grid-area: icon;

                img {
                    width: 75px;
                }
            }

            #card1-name {
                grid-area: name;

                display: grid;
                grid-template-rows: repeat(2, 23px);
                // grid-template-rows: repeat(2, 1fr);
                grid-template-areas: "asteroid"
                    "number";

                h4 {
                    grid-area: asteroid;
                    font-family: 'Roboto Mono', monospace;
                    font-size: rem-calc(16);
                    color: $h1-brown;
                }

                h1 {
                    grid-area: number;
                    font-family: 'Yeseva One', serif;
                    font-size: rem-calc(36);
                    color: $h1-brown;
                }
            }
        }

        #card1-content {
            grid-column: 2 / span 9;
            grid-row: 1 / span 7;
            background-color: $card-pink;
            border-radius: 15px;

            display: grid;
            grid-template-columns: repeat(11, 23px);
            grid-template-rows: repeat(7, 26px);
            // grid-template-columns: repeat(11, 1fr);
            // grid-template-rows: repeat(7, 1fr);

            #card1-image {
                grid-column: 0.5 / span 5;
                grid-row: 2 / span 5;

                img {
                    width: 120px;
                }
            }

        }
    }
}