/* =============
    Index Content
============= */
#index-encounters {
    margin-top: 70px;

    @include md {
        margin-top: 90px;
        display: grid;
        grid-template-columns: 10% auto;
        grid-template-areas: ". container";
    }

    @include lg {
        margin-top: 100px;
    }

    #index-banner-container {
        @include md {
            grid-area: container;
        }

        #index-top-info {
            #index-title {
                color: $h1-brown;
                font-size: rem-calc(25);
                text-align: center;
                padding-bottom: 20px;

                @include md {
                    font-size: rem-calc(30);
                    text-align: left;
                    padding-bottom: 5px;
                }

                @include lg {
                    font-size: rem-calc(50);
                }
            }

            #index-slash {
                img {
                    width: 65px;
                    display: block;
                    margin-right: auto;
                    margin-left: auto;

                    @include md {
                        width: 80px;
                        margin-left: 290px;
                    }

                    @include lg {
                        width: 135px;
                        margin-left: 400px;
                    }
                }
            }
        }

        #index-quote {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 2px;

            @include md {
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(7, 1fr);
                column-gap: 10px;
            }

            @include lg {
                gap: 20px;
            }

            #index-mark {
                // display: list-item;
                grid-column: 1 / span 2;
                grid-row: 1 / span 2;
                margin-top: 30px;

                @include md {
                    grid-column: 2 / span 4;
                    grid-row: 1 / span 4;
                }

                @include lg {
                    grid-column: 1 / span 4;
                    grid-row: 1 / span 4;
                }

                img {
                    height: 73px;

                    @include md {
                        height: 100px;
                    }

                    @include lg {
                        height: 250px;
                    }
                }
            }

            #index-text {
                color: $quote-teal;
                grid-column: 2 / span 5;
                grid-row: 2 / span 3;
                margin-left: -10px;
                z-index: 50;

                @include md {
                    grid-column: 3 / span 7;
                    grid-row: 3 / span 4;

                    h2 {
                        font-size: rem-calc(25);
                    }
                }

                @include lg {
                    grid-column: 3 / span 7;
                    grid-row: 3 / span 4;

                    h2 {
                        font-size: rem-calc(50);
                    }
                }
            }

            #index-box {
                overflow: hidden;
                background-color: $card-pink;
                grid-column: 4 / span 3;
                grid-row: 2 / span 3;
                margin-right: -5px;

                @include md {
                    grid-column: 5 / span 6;
                    grid-row: 1 / span 7;
                }

                @include lg {
                    grid-column: 7 / span 4;
                    grid-row: 2 / span 5;
                }
            }
        }

        #index-scroll {
            display: flex;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 50px;

            @include lg {
                padding-top: 0;
            }

            p,
            a {
                margin: 0 10px;
            }

            p {
                font-family: 'Roboto Mono', monospace;
                font-size: rem-calc(16);
                color: $quotation-brown;
                align-self: center;
            }
        }
    }
}

.card-grid {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-areas: ". card-grid .";
    // overflow: hidden;
    padding-bottom: 60px;

    @include lg {
        grid-template-columns: 15% auto 10%;
    }

    @include xl {
        grid-template-columns: auto 1024px auto;
    }

    >div {
        grid-area: card-grid;


        .cards-left {

            // margin-bottom: 200px;
            >div {
                background-color: $card-pink;
                border-radius: 16px;
                padding: 25px 20px;
                position: relative;
                display: grid;
                grid-template-columns: 45% auto;

                @include lg {
                    border-radius: 33px;
                    padding: 70px 50px;
                }

                .card-icon {
                    position: absolute;
                }

                #card-info {
                    top: -30px;
                    left: -20px;

                    // display: flex;
                    // justify-content: center;
                    // margin: 0 20px;

                    @include md {
                        top: -50px;
                        left: -40px;
                    }

                    @include lg {
                        top: -80px;
                        left: -80px;
                    }

                    #planet {
                        width: 75px;
                        overflow: hidden;

                        @include md {
                            width: 120px;
                        }

                        @include lg {
                            width: 240px;
                        }
                    }

                    #asteroid-number {
                        font-size: rem-calc(30);
                        color: $h1-brown;
                        text-align: left;
                        margin-left: 80px;
                        margin-top: -55px;


                        @include md {
                            padding-top: 10px;
                            margin-left: 140px;
                            margin-top: -95px;
                            font-size: rem-calc(45);
                        }

                        @include lg {
                            font-size: rem-calc(60);
                            padding-top: 22px;
                            margin-left: 260px;
                            margin-top: -180px;
                        }
                    }
                }

                #crown {
                    width: 65px;
                    top: 170px;
                    left: 260px;
                    overflow: hidden;

                    @include md {
                        width: 120px;
                        top: 310px;
                        left: 520px;
                    }

                    @include lg {
                        width: 200px;
                        top: 420px;
                        left: 600px;
                    }

                    @include xl {
                        top: 570px;
                        left: 880px;
                    }
                }

                #bottle {
                    width: 65px;
                    top: 170px;
                    left: 260px;
                    overflow: hidden;

                    @include md {
                        width: 120px;
                        top: 310px;
                        left: 520px;
                    }

                    @include lg {
                        width: 200px;
                        top: 420px;
                        left: 600px;
                    }

                    @include xl {
                        top: 570px;
                        left: 880px;
                    }
                }

                #lamp {
                    width: 65px;
                    top: 170px;
                    left: 260px;
                    overflow: hidden;

                    @include md {
                        width: 120px;
                        top: 310px;
                        left: 520px;
                    }

                    @include lg {
                        width: 200px;
                        top: 420px;
                        left: 600px;
                    }

                    @include xl {
                        top: 570px;
                        left: 880px;
                    }
                }

                aside {
                    #king-img {
                        width: 100%;
                    }

                    #flip-arrow {
                        width: 30px;

                        @include lg {
                            width: 80px;
                            margin-top: 30px;
                        }
                    }

                    #flip-to-read {
                        color: $quotation-brown;
                        font-size: rem-calc(8);
                        font-family: 'Roboto Mono', monospace;
                        margin-left: 40px;
                        margin-top: -10px;

                        @include lg {
                            font-size: rem-calc(16);
                            margin-left: 90px;
                            margin-top: -20px;
                        }
                    }


                    #tippler-img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }

                    #lamplighter-img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

                section {
                    h5 {
                        font-family: 'Roboto Mono', monospace;
                        font-size: rem-calc(16);
                        color: $h1-brown;
                        margin-left: -10px;

                        @include md {
                            font-size: rem-calc(25);
                            margin-left: -20px;
                        }

                        @include lg {
                            font-size: rem-calc(32);
                        }
                    }
                }
            }
        }

        #flight-line-1 {
            height: 80px;
            width: 100%;
            background-image: url("../img/encounters/card1-2-line.svg");
            background-repeat: no-repeat;
            overflow: hidden;
            // border: 1px solid red;
            // background-position: -100px 500px;
            background-position: 50px;
            padding-bottom: 70px;
            z-index: -10000;

            @include md {
                height: 150px;
                background-position: 140px;
            }
        }

        #flight-line-3 {
            height: 80px;
            width: 100%;
            background-image: url("../img/encounters/card3-4-line.svg");
            background-repeat: no-repeat;
            overflow: hidden;
            // border: 1px solid red;
            // background-position: -100px 500px;
            background-position: 20px 0px;
            padding-bottom: 70px;

            @include md {
                height: 150px;
                background-position: 140px;
            }
        }

        #flight-line-5 {
            height: 80px;
            width: 100%;
            background-image: url("../img/encounters/card5-6-line.svg");
            background-repeat: no-repeat;
            overflow: hidden;
            // border: 1px solid red;
            // background-position: -100px 500px;
            background-position: 30px -200px;
            padding-bottom: 70px;

            @include md {
                height: 150px;
                background-position: 140px;
            }
        }

        .cards-right {

            // margin-bottom: 200px;
            >div {
                background-color: $card-pink;
                border-radius: 16px;
                padding: 25px 20px;
                position: relative;
                display: grid;
                grid-template-columns: auto 45%;

                @include lg {
                    border-radius: 33px;
                    padding: 70px 50px;
                }

                .card-icon {
                    position: absolute;
                }

                #card-info {
                    top: 195px;
                    left: 70px;

                    // display: flex;
                    // justify-content: flex-end;
                    // margin: 0 20px;
                    // overflow: hidden;

                    @include md {
                        top: 400px;
                        left: 290px;
                    }

                    @include lg {
                        top: 480px;
                        left: 300px;
                    }

                    @include xl {
                        top: 650px;
                        left: 540px;
                    }

                    #planet {
                        width: 75px;
                        overflow: hidden;

                        @include md {
                            width: 120px;
                        }

                        @include lg {
                            width: 240px;
                        }
                    }

                    #asteroid-number {
                        font-size: rem-calc(30);
                        color: $h1-brown;
                        text-align: left;
                        margin-left: 85px;
                        margin-top: -65px;

                        @include md {
                            padding-top: 10px;
                            margin-left: 140px;
                            margin-top: -95px;
                            font-size: rem-calc(45);
                        }

                        @include lg {
                            font-size: rem-calc(60);
                            padding-top: 22px;
                            margin-left: 255px;
                            margin-top: -180px;
                        }
                    }
                }

                #hat {
                    width: 65px;
                    top: -30px;
                    left: -20px;
                    overflow: hidden;

                    @include md {
                        width: 120px;
                        top: -60px;
                        left: -40px;
                    }

                    @include lg {
                        width: 200px;
                        top: -60px;
                        left: -40px;
                    }


                }

                #calculator {
                    width: 65px;
                    top: -30px;
                    left: -20px;
                    overflow: hidden;

                    @include md {
                        width: 120px;
                        top: -60px;
                        left: -40px;
                    }

                    @include lg {
                        width: 200px;
                        top: -60px;
                        left: -40px;
                    }


                    @include xl {
                        top: -60px;
                        left: -40px;
                    }
                }

                #glass {
                    width: 65px;
                    top: -30px;
                    left: -20px;
                    overflow: hidden;

                    @include md {
                        width: 120px;
                        top: -60px;
                        left: -40px;
                    }

                    @include lg {
                        width: 200px;
                        top: -60px;
                        left: -40px;
                    }

                    @include xl {
                        top: -60px;
                        left: -40px;
                    }
                }

                section {
                    z-index: 100;

                    h5 {
                        font-family: 'Roboto Mono', monospace;
                        font-size: rem-calc(16);
                        color: $h1-brown;
                        margin-right: -30px;
                        text-align: right;
                        // z-index: 99999997;

                        @include md {
                            font-size: rem-calc(25);
                            margin-right: -45px;
                            margin-top: 100px;
                        }

                        @include lg {
                            font-size: rem-calc(32);
                        }
                    }
                }

                aside {
                    #conceitedman-img {
                        width: 100%;
                    }

                    #businessman-img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        padding: 15px 0;

                        @include md {
                            padding: 35px 0;
                        }
                    }

                    #geographer-img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        padding: 15px 0;

                        @include md {
                            padding: 55px 0;
                        }
                    }
                }
            }
        }

        #flight-line-2 {
            height: 80px;
            width: 100%;
            background-image: url("../img/encounters/card2-3-line.svg");
            background-repeat: no-repeat;
            overflow: hidden;
            padding-bottom: 60px;
            // border: 1px solid red;
            // background-position: -100px 500px;
            background-position: 60px -30px;

            @include md {
                height: 150px;
                background-position: 140px;
            }
        }

        #flight-line-4 {
            height: 80px;
            width: 100%;
            background-image: url("../img/encounters/card4-5-line.svg");
            background-repeat: no-repeat;
            overflow: hidden;
            // border: 1px solid red;
            // background-position: -100px 500px;
            background-position: 20px 0px;
            padding-bottom: 70px;

            @include md {
                height: 150px;
                background-position: 140px;
            }
        }

        #flight-line-6 {
            height: 80px;
            width: 100%;
            background-image: url("../img/encounters/card6-7-line.svg");
            background-repeat: no-repeat;
            overflow: hidden;
            // border: 1px solid red;
            // background-position: -100px 500px;
            background-position: 20px 0px;
            padding-bottom: 70px;

            @include md {
                height: 150px;
                background-position: 140px;
            }

            @include xl {
                padding-bottom: 200px;
            }
        }

        .cards-middle {
            display: grid;
            grid-template-columns: 5% auto 5%;
            grid-template-areas: " . inside .";

            // margin-bottom: 200px;
            >div {
                grid-area: inside;
                background-color: $card-pink;
                border-radius: 16px;
                padding: 25px 20px;
                position: relative;
                display: grid;
                grid-template-rows: 10% auto;
                grid-template-areas: "text"
                    "image";

                @include lg {
                    border-radius: 33px;
                    padding: 70px 50px;
                }

                .card-icon {
                    position: absolute;
                }

                #rose-planet {
                    width: 60px;
                    top: -20px;
                    left: 230px;

                    @include md {
                        width: 140px;
                        top: -60px;
                        left: 450px;
                    }

                    @include lg {
                        width: 200px;
                        top: -80px;
                        left: 570px;
                    }

                    @include xl {
                        width: 240px;
                        top: -90px;
                        left: 770px;
                    }
                }

                #asteroid-number {
                    font-size: rem-calc(30);
                    color: $h1-brown;
                    text-align: center;
                    // margin-left: 80px;
                    margin-top: -300px;


                    @include md {
                        // padding-top: 10px;
                        // margin-left: 140px;
                        margin-top: -640px;
                        font-size: rem-calc(50);
                    }

                    @include lg {
                        font-size: rem-calc(60);
                        // padding-top: 22px;
                        // margin-left: 260px;
                        margin-top: -750px;
                    }

                    @include xl {
                        font-size: rem-calc(60);
                        margin-top: -980px;
                    }
                }

                #b612-number {
                    font-size: rem-calc(30);
                    color: $h1-brown;
                    text-align: center;
                    // margin-left: 80px;
                    margin-top: -250px;


                    @include md {
                        // padding-top: 10px;
                        // margin-left: 140px;
                        margin-top: -470px;
                        font-size: rem-calc(50);
                    }

                    @include lg {
                        font-size: rem-calc(64);
                        // padding-top: 22px;
                        // margin-left: 260px;
                        margin-top: -570px;
                    }

                    @include xl {
                        font-size: rem-calc(64);
                        margin-top: -730px;
                    }
                }

                aside {
                    grid-area: image;

                    #narrator-img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }

                    #flower-img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

                section {
                    grid-area: text;

                    h5 {
                        font-family: 'Roboto Mono', monospace;
                        font-size: rem-calc(16);
                        color: $h1-brown;
                        text-align: center;
                        margin-top: -10px;

                        @include md {
                            font-size: rem-calc(25);
                            // margin-left: -20px;
                        }

                        @include lg {
                            font-size: rem-calc(32);
                        }
                    }
                }
            }
        }

        #flight-line-7 {
            height: 40px;
            width: 100%;
            background-image: url("../img/encounters/card7-8-line.svg");
            background-repeat: no-repeat;
            overflow: hidden;
            // border: 1px solid red;
            // background-position: -100px 500px;
            background-position: 0 -130px;
            padding-bottom: 70px;

            @include md {
                height: 150px;
                background-position: 90px -50px;
            }
        }
    }
}

#index-ending-quote {
    padding-bottom: 60px;

    #index-ending-container {
        #slash {
            margin-top: -40px;
            padding-bottom: 30px;

            @include md {
                margin-top: 0px;
            }

            img {
                width: 65px;
                display: block;
                margin-right: auto;
                margin-left: auto;

                @include md {
                    display: none;
                }
            }
        }

        #index-end-quote {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);

            @include md {
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(5, 1fr);
                column-gap: 10px;
            }

            @include lg {
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(5, 1fr);
                column-gap: 10px;
            }

            #index-end-text {
                grid-column: 1 / span 4;
                grid-row: 1 / span 3;

                @include md {
                    grid-column: 3 / span 7;
                    grid-row: 1 / span 4;
                }

                h2 {
                    color: $quote-teal;
                    font-size: rem-calc(25);
                    text-align: left;

                    @include md {
                        font-size: rem-calc(40);
                    }

                    @include lg {
                        font-size: rem-calc(50);
                    }
                }
            }

            #index-end-mark {
                grid-column: 4 / span 1;
                grid-row: 2 / span 2;

                @include md {
                    grid-column: 8 / span 2;
                    grid-row: 4 / span 2;
                }

                @include md {
                    grid-column: 8 / span 2;
                    grid-row: 3 / span 2;
                }

                img {
                    height: 80px;

                    @include md {
                        height: 100px;
                    }

                    @include lg {
                        height: 200px;
                    }
                }
            }
        }
    }
}

