/* =============
    Footer
============= */
footer {
    background-color: $footer-green;

    >div {
        text-align: center;

        h1 {
            color: $dark-brown;
            font-size: rem-calc(22);
            padding: 60px 0 20px 0;

            @include md {
                font-size: rem-calc(30);
            }

            @include lg {
                font-size: rem-calc(40);
            }
        }

        form {
            section {
                display: flex;
                justify-content: center;

                div {
                    margin-right: 10px;

                    input {
                        background-color: $footer-green;
                        border: none;
                        border-bottom: 1px $dark-brown solid;
                        border-radius: 0;
                        color: $dark-brown;
                        font-family: 'Roboto Mono', monospace;
                        padding: 10px 0 2px 10px;

                        @include md {
                            padding: 15px 0 2px 15px;
                            width: 300px;
                        }

                        @include lg {
                            padding: 18px 0 2px 18px;
                            width: 400px;
                        }

                        ::placeholder {
                            /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: $placeholder;
                            opacity: 1;
                        }

                        :-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            color: $placeholder;
                        }

                        ::-ms-input-placeholder {
                            /* Microsoft Edge */
                            color: $placeholder;
                        }
                    }

                    .button {
                        background-color: $footer-green;
                        border: 1px $button-brown solid;
                        border-radius: 26px;
                        color: $button-brown;
                        cursor: pointer;
                        font-family: 'Roboto Mono', monospace;
                        height: 100%;
                        padding: 0 10px;

                        @include lg {
                            padding: 0 15px;
                        }

                        @include xl {
                            padding: 0 25px;
                        }

                        &:hover {
                            background-color: $button-brown;
                            color: $white;
                        }
                    }
                }
            }
        }

        ul {
            display: flex;
            justify-content: center;
            padding: 20px 0 50px;

            li {
                margin: 0 15px;

                a:link,
                a:visited {
                    color: $dark-brown;
                    font-size: rem-calc(20);

                    &:hover,
                    &:active {
                        color: $button-brown;
                    }
                }
            }
        }
    }
}