/* =============
    Navigation
============= */

.hide-nav-buttons {
    display: none;
}

.show-nav-buttons {
    display: block !important;
}

#main-nav {
    background-color: $card-pink;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    // padding: 100px 0;

    #nav-container {

        #image {
            display: none;

            // @include xl {
            //     display: grid;
            // }
        }

        #main-menu {
            ul {
                margin-top: -30px;

                li {
                    text-align: center;
                    margin-bottom: 10px;

                    a:link,
                    a:visited {
                        font-family: 'Yeseva One', serif;
                        font-size: rem-calc(35);
                        // line-height: rem-calc(40);
                        color: $dark-brown;

                        // span {
                        //     display: none;
                        // }
                    }

                    a:active,
                    a:hover {
                        transition: 0.25s;
                        font-style: italic;
                        color: $h1-brown;
                        border-bottom: 3px $h1-brown solid;
                        // border-radius: 1px;
                        text-decoration: none;

                        // span {
                        //     display: block;
                        //     font-family: 'Roboto Mono', monospace;
                        //     font-size: rem-calc(12);
                        // }
                    }
                }
            }
        }

        #side-menu {
            #side-1 {
                margin-top: 30px;

                li {
                    text-align: center;
                    margin-bottom: 5px;

                    button {
                        font-family: 'Roboto Mono', monospace;
                        font-size: rem-calc(12);
                        text-align: center;
                        color: $dark-brown;
                        background-color: $card-pink;
                        border: none;
                        cursor: pointer;

                        &:hover,
                        &:active {
                            color: $h1-brown;
                            text-decoration: none;
                        }
                    }

                    a:link,
                    a:visited {
                        font-family: 'Roboto Mono', monospace;
                        font-size: rem-calc(12);
                        text-align: center;
                        color: $dark-brown;
                    }

                    a:active,
                    a:hover {
                        color: $h1-brown;
                        text-decoration: none;
                    }
                }

            }

            #side-2 {
                display: none;

                // @include lg {
                //     display: grid;
                // }
            }

            #side-3 {
                display: none;

                // @include lg {
                //     display: grid;
                // }
            }
        }
    }
}